.header-container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-review {
  text-align: center;
  font-weight: bolder;
}
.customer-review button {
  margin: 60px 0;
  border: none;
  background: rgb(72, 97, 239);
  padding: 10px 50px;
  border-radius: 20px;
}
.customer-review a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.h1-style {
  margin-bottom: 80px;
  color: rgb(72, 97, 239);
}
