.header-container {
  min-height: 88.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-review {
  text-align: center;
  /* font-weight: bolder; */
}
.customer-review button {
  border: none;
  background: rgb(52, 81, 245);
  padding: 5px 80px;
  border-radius: 20px;
  margin-bottom: 50px;
  color: white;
  font-weight: bold;
}
.customer-review a {
  text-decoration: none;
  font-weight: 500;
}
.h1-style {
  color: rgb(52, 81, 245);
}
