.navbar {
  height: 80px;
  background: white;
  /* align-items: center;
  justify-content: center;
  display: flex; */
  text-align: center;
  top: 0;
}
#navbar-logo {
  margin-left: 100px;
}
.navbar a {
  font-size: 18px;
  margin: 0 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.navbar a:hover {
  color: rgb(174, 168, 158);
}
