.navbar {
  height: 80px;
  /* box-shadow: 10px gray; */
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  position: sticky;
  top: 0;
}
.navbar a {
  font-size: 18px;
  margin: 0 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.navbar a:hover {
  color: rgb(174, 168, 158);
}
